<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotels in Kyrgyzstan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Hotels</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/transport">Transport</a> |
        <a href="/reviews">Reviews</a>
    </nav>

    <ul>
        {% for hotel in hotels %}
        <li>{{ hotel.name }} - {{ hotel.location }} - {{ hotel.stars }} stars</li>
        {% endfor %}
    </ul>
</body>
</html>
