<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transport in Kyrgyzstan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Transport</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/hotels">Hotels</a> |
        <a href="/reviews">Reviews</a>
    </nav>

    <ul>
        {% for t in transports %}
        <li>{{ t.type }} in {{ t.city }} - {{ t.info }}</li>
        {% endfor %}
    </ul>
</body>
</html>
